
@{
    ViewBag.Title = "About info.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header>
    <h2>About application</h2>
    <p>This app is simple example of ASP.NET MVC 5 usage.</p>
</header>
<section>
    <header>
        <nav>
            <ul>
                <li>Accounts</li>
                <li>Users</li>
            </ul>
        </nav>
    </header>
    <p>Bitbucket source code.</p>
</section>
<aside>
    <p>ASIDE</p>
</aside>
<footer>
    footer
</footer>


